In [3]:
#python first class - variables and Data Types

name = "John"
age = 23
height = 5.9
is_Student = True

In [11]:
print(type(age))

<class 'int'>

In [7]:
#lists and loops

colors = ["red", 'blue', 'green']

for color in colors:
  print(color.title())

Red
Blue
Green

In [8]:
#functions

def greet(name):
  return f"Hi {name}! Welcome to Data Science"

In [9]:
greet("Vinayak")

'Hi Vinayak! Welcome to Data Science'

In [10]:
#conditionals

if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

You are an adult

In [13]:
#List Comprehension

squares = [x**2 for x in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [15]:
#string reversal

"hello"[::-1]

'olleh'

In [17]:
items = ["apples", "banana", "orange", "mango", "grape"]

for item in items:
  print(item.upper())

APPLES
BANANA
ORANGE
MANGO
GRAPE

In [20]:
def voting_eligibility(name, age):
  if(age>=18):
    return (f"Hello {name}, you are elgible to vote")
  else:
    return (f"Hello {name}, you are not elgible to vote")

voting_eligibility("Vinayak", 14)

'Hello Vinayak, you are not elgible to vote'

In [22]:
def isEven(number):
  if (number%2 == 0):
    return (f"{number} is even")
  else:
    return (f"{number} is odd")

isEven(23)

'23 is odd'

In [23]:
numbers = list(range(1, 11))

cubes = [x**3 for x in numbers]

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]