In [1]:
import sqlite3

In [ ]:
conn = sqlite3.connect("chinook.db")

In [8]:
cursor = conn.cursor()

In [9]:
cursor.execute("SELECT country, COUNT(*) FROM Customer GROUP BY country")
for row in cursor.fetchall():
    print(row)

('Argentina', 1)
('Australia', 1)
('Austria', 1)
('Belgium', 1)
('Brazil', 5)
('Canada', 8)
('Chile', 1)
('Czech Republic', 2)
('Denmark', 1)
('Finland', 1)
('France', 5)
('Germany', 4)
('Hungary', 1)
('India', 2)
('Ireland', 1)
('Italy', 1)
('Netherlands', 1)
('Norway', 1)
('Poland', 1)
('Portugal', 2)
('Spain', 1)
('Sweden', 1)
('USA', 13)
('United Kingdom', 3)

In [10]:
cursor.execute("SELECT FirstName, country FROM Customer WHERE country = 'USA' LIMIT 10")
for row in cursor.fetchall():
    print(row)

('Frank', 'USA')
('Jack', 'USA')
('Michelle', 'USA')
('Tim', 'USA')
('Dan', 'USA')
('Kathy', 'USA')
('Heather', 'USA')
('John', 'USA')
('Frank', 'USA')
('Victor', 'USA')

In [12]:
cursor.execute("SELECT * FROM Invoice ORDER BY total DESC LIMIT 5")
for row in cursor.fetchall():
    print(row)

(404, 6, '2013-11-13 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 25.86)
(299, 26, '2012-08-05 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 23.86)
(96, 45, '2010-02-18 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 21.86)
(194, 46, '2011-04-28 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 21.86)
(89, 7, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 18.86)

In [13]:
cursor.execute("SELECT FirstName, LastName FROM Customer LIMIT 5")
for row in cursor.fetchall():
    print(row)

('Luís', 'Gonçalves')
('Leonie', 'Köhler')
('François', 'Tremblay')
('Bjørn', 'Hansen')
('František', 'Wichterlová')

In [14]:
cursor.execute("SELECT Country, COUNT(*) FROM Customer GROUP BY Country") 
for row in cursor.fetchall():
    print(row)

('Argentina', 1)
('Australia', 1)
('Austria', 1)
('Belgium', 1)
('Brazil', 5)
('Canada', 8)
('Chile', 1)
('Czech Republic', 2)
('Denmark', 1)
('Finland', 1)
('France', 5)
('Germany', 4)
('Hungary', 1)
('India', 2)
('Ireland', 1)
('Italy', 1)
('Netherlands', 1)
('Norway', 1)
('Poland', 1)
('Portugal', 2)
('Spain', 1)
('Sweden', 1)
('USA', 13)
('United Kingdom', 3)

In [15]:
conn.close()